header {
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.container1 {
    display: flex;
    flex-wrap:nowrap;

}

.container1 > div > img {
    width: 325px;
    height: 325px;
}

.container2 {
    display: flex;
    flex-wrap:nowrap;

}

.container2 > div > img {
    width: 325px;
    height: 325px;
}

footer {
    background-color:#14181D;
    text-align: center;
    padding: 5px;
    color: white
}

@media (min-width: 1024px) {
    main {
        grid-template-columns: 1fr;
    }
}